{# templates/product/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/main.js"></script>
    <script src="/assets/routes.js"></script>
{% endblock %}
